
{% extends 'base.html' %}

{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "website/style.css" %}" />
    <link rel="stylesheet" href="{% static "website/flashcards.css" %}" />
{% endblock %}

{% block head %}
    {{ block.super }}
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
{% endblock %}

{% block 'content' %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            var correctGuesses = 0;
            var totalGuesses = 0;
            var guessMade = false;
            var quizMode = false;
            var finalCardGuessed = false;
            var quizScores = [];
        
            // Hide answers section when quiz not in progress.
            $(".answer-buttons").hide();
            $("#score-display").hide();

            // Disable auto rotate carousel.
            $("#wordCarousel").carousel({ interval: false });
        
            $("#start-quiz-btn").click(function() {
                $("#wordCarousel").carousel(0);
                $(".answer-buttons").show();
                $("#score-display").show();
                $(this).hide();
        
                correctGuesses = 0;
                totalGuesses = 0;
                guessMade = false;
                quizMode = true;
                finalCardGuessed = false;
                quizScores = [];
                updateScoreDisplay();
        
                $("#startQuizModal").modal('show');
            });

            $("#wordCarousel").on("slid.bs.carousel", function() {
                // Check if the last slide is active and the quiz has started
                if ($("#wordCarousel").find(".carousel-item:last").hasClass("active") && quizMode) {
                    if (finalCardGuessed) {
                        completeQuiz();
                    }
                } else {
                    finalCardGuessed = false;
                }
            });
           
            function updateScoreDisplay() {
                $("#score-display").text("Score: " + correctGuesses + "/" + totalGuesses);
            }

            function completeQuiz() {
                updateScoreDisplay();
            
                // Delay the alert by 100 milliseconds to allow the browser to render the updated score
                setTimeout(function() {
                    $("#finalScore").text(correctGuesses + "/" + totalGuesses);
                    // Fill in the wrong words list
                    $("#wrongWordsList").empty();
                    for (var i = 0; i < quizScores.length; i++) {
                        if (!quizScores[i][2]) {
                            $("#wrongWordsList").append('<li>' + quizScores[i][0] + ' - ' + quizScores[i][6] + '</li>');
                        }
                    }
                    $("#completeQuizModal").modal('show');    
                }, 100);
            
                // Save the quiz score to the table
                {% if user.is_authenticated %}
                    saveQuizScores();
                {% endif %}
            }


            // Save quiz scores
            {% if user.is_authenticated %}
                function saveQuizScores() {
                    var words = [];
                    {% for word in words %}
                        words.push('{{ word.unicode|safe }}');
                    {% endfor %}

                    // Create an array of the answers (1 for correct, 0 for incorrect)
                    var answers = quizScores.map(function(score) {
                        return score[2] ? 1 : 0;
                    });
            
                    $.post('{% url "save_quiz_scores" %}', {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        quiz_name: 'Level {{ level }} Flashcard Quiz',
                        score: correctGuesses,
                        total_questions: words.length,
                        words: JSON.stringify(words),
                        answers: JSON.stringify(answers),
                    })
                    .done(function(response) {
                        if (response.status === 'success') {
                            console.log('Quiz scores saved successfully');
                        } else {
                            console.log('Failed to save quiz scores', response.error);
                        }
                    })
                    .fail(function() {
                        console.log('Error occurred while saving quiz scores');
                    });
                }
            {% endif %}
        
            $(".answer-btn").click(function() {
                var itemId = $(this).data("item-id");
                var itemAnswer = $(this).closest('.carousel-item').find('.card-title').text();
                var guess = $(this).val();
                var label = $(this).closest('li').find('label');
                var englishDefinition = $(this).closest('.carousel-item').find('.card-text').text();
            
                if (guessMade) {
                    if (guess == itemAnswer) {
                        label.removeClass("btn-outline-danger").addClass("btn-outline-success");
                        return;
                    } else {
                        label.removeClass("btn-outline-danger").addClass("btn-outline-danger");
                        return;
                    }
                }
                guessMade = true;
            
                var correct = false;
                if (guess == itemAnswer) {
                    label.removeClass("btn-outline-danger").addClass("btn-outline-success");
                    correctGuesses++;
                    totalGuesses++;
                    correct = true;
                } else {
                    label.removeClass("btn-outline-danger").addClass("btn-outline-danger");
                    totalGuesses++;
                    correct = false;
                }
            
                updateScoreDisplay();
            
                if(quizMode) {
                    wrongGuesses = totalGuesses - correctGuesses;
                    currentScore = correctGuesses/totalGuesses;
                    quizScores.push([itemAnswer, guess, correct, correctGuesses, wrongGuesses, currentScore, englishDefinition]);
                }
            
                // Check if it's the last slide and the quiz is in progress
                var currentIndex = $("#wordCarousel .carousel-inner .carousel-item").index($("#wordCarousel .carousel-inner .carousel-item.active"));
                var totalItems = $("#wordCarousel .carousel-inner .carousel-item").length;

                if (currentIndex === totalItems - 1 && quizMode) {
                    completeQuiz();
                }

                $("#wordCarousel").carousel('next');
            });

            $("#wordCarousel").on("slid.bs.carousel", function() {
                guessMade = false;
            });
        });
    </script>

    <div class="container">
        <div class="page-header">
            {% if level == 1 or level == 2 %}
                <h2>Beginner Level {{ level }} Flashcard Quiz</h2>
            {% elif level == 3 or level == 4 %}
                <h2>Intermediate Level {{ level }} Flashcard Quiz</h2>
            {% else %}
                <h2>Advanced Level {{ level }} Flashcard Quiz</h2>
            {% endif %}
            <a href="/words/{{level}}"><h5>Level {{ level }} Vocabulary Words</h5></a>
        </div>

        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <button id="start-quiz-btn" class="btn btn-primary">Start Quiz</button>
                </div>
            </div>
        </div>

        <div id="wordCarousel" class="carousel carousel-dark slide border" data-interval="false" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for word in words %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <div class="card">
                            <input type="checkbox" id="card-flipper-{{ forloop.counter }}" class="card-flipper invisible">
                            <div class="card-inner">
                                <div class="card-front shadow">
                                    <div class="card-body">
                                        <span>
                                            <h1 class="card-title text-danger">{{ word.unicode|safe }}</h1>
                                        </span>
                                        <button class="btn btn-outline-secondary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#card-text-{{ forloop.counter }}" aria-expanded="false" aria-controls="card-text-{{ forloop.counter }}">
                                            Show Pīnyīn
                                        </button>
                                        <div class="collapse" id="card-text-{{ forloop.counter }}">
                                            <p class="card-text pinyin">{{ word.pinyin1 }}</p>
                                        </div>
                                        <label for="card-flipper-{{ forloop.counter }}" class="btn btn-primary btn-sm">Flip</label>                                        
                                    </div>
                                </div>
                                <div class="card-back shadow">
                                    <div class="card-body">                                 
                                        <div>
                                            <h2 class="card-text" style="display: inline"><a href="/character/{{ word.unicode|safe }}"> {{ word.unicode|safe }} </a></h2>
                                            <h4 style="display: inline"> {{ word.pinyin1 }} </h4>
                                            <p style="display: inline"> {{ word.partofspeech }} </p>
                                        </div>
                                        <hr>                                   
                                        <p class="card-text"><strong>{{ word.english1|capfirst }}</strong></p>
                                        <hr>
                                        <table class="table table-sm">
                                            <tr>
                                                <td><strong>{{ word.s1_char }}</strong></td>
                                            <tr>
                                            </tr>
                                                <td>{{ word.s1_pinyin}}</td>
                                            <tr>
                                            </tr>
                                                <td>{{ word.s1_english}}</td>
                                            </tr>
                                        </table>
                                        <label for="card-flipper-{{ forloop.counter }}" class="btn btn-primary flip-back">Flip Back</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="answer-buttons {% if forloop.first %}active{% endif %}" id="answer-buttons">

                            <strong><p>Pick the character's matching definition</p></strong>

                            <ol>
                                <li>
                                    <input type="radio" class="btn-check answer-btn" name="flashcard-answers-{{ forloop.counter }}" id="answer-1-{{ forloop.counter }}" data-item-id="{{ forloop.counter }}" value="{{ word.answer1.0}}" autocomplete="off">
                                    <label class="btn btn-outline-secondary" for="answer-1-{{ forloop.counter }}">{{ word.answer1.1 }}</label>
                                    <input type="hidden" id="word-answer-{{ forloop.counter }}" value="{{ word.answer1.0 }}">
                                </li>
                                <li>
                                    <input type="radio" class="btn-check answer-btn" name="flashcard-answers-{{ forloop.counter }}" id="answer-2-{{ forloop.counter }}" data-item-id="{{ forloop.counter }}" value="{{ word.answer2.0 }}" autocomplete="off">
                                    <label class="btn btn-outline-secondary" for="answer-2-{{ forloop.counter }}">{{ word.answer2.1 }}</label>
                                    <input type="hidden" id="word-answer-{{ forloop.counter }}" value="{{ word.answer2.0 }}">
                                </li>
                                <li>
                                    <input type="radio" class="btn-check answer-btn" name="flashcard-answers-{{ forloop.counter }}" id="answer-3-{{ forloop.counter }}" data-item-id="{{ forloop.counter }}" value="{{ word.answer3.0 }}" autocomplete="off">
                                    <label class="btn btn-outline-secondary" for="answer-3-{{ forloop.counter }}">{{ word.answer3.1 }}</label>
                                    <input type="hidden" id="word-answer-{{ forloop.counter }}" value="{{ word.answer3.0 }}">
                                </li>
                                <li>
                                    <input type="radio" class="btn-check answer-btn" name="flashcard-answers-{{ forloop.counter }}" id="answer-4-{{ forloop.counter }}" data-item-id="{{ forloop.counter }}" value="{{ word.answer4.0 }}" autocomplete="off">
                                    <label class="btn btn-outline-secondary" for="answer-4-{{ forloop.counter }}">{{ word.answer4.1 }}</label>
                                    <input type="hidden" id="word-answer-{{ forloop.counter }}" value="{{ word.answer4.0 }}">
                                </li>
                            </ol>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#wordCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="text-primary"><strong>Last</strong></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#wordCarousel" data-bs-slide="next">
                <span class="text-primary"><strong>Next</strong></span>
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </button>
            <strong><div id="score-display">Score:  {{ correctGuesses }}/{{ totalGuesses }}</div></strong>
        </div>
        

    </div>

    <!-- Start Quiz Modal -->
    <div class="modal fade" id="startQuizModal" tabindex="-1" role="dialog" aria-labelledby="startQuizModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="startQuizModalLabel">Start Quiz</h5>
                </div>
                <div class="modal-body">
                    Quiz started! Guess 5 words.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Complete Quiz Modal -->
    <div class="modal fade" id="completeQuizModal" tabindex="-1" role="dialog" aria-labelledby="completeQuizModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="completeQuizModalLabel">Quiz Complete</h5>
                </div>
                <div class="modal-body">
                    Your score is: <span id="finalScore"></span>
                    <br>
                    Here are the words you got wrong:
                    <ul id="wrongWordsList"></ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}












