{% extends 'base.html' %}

{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "website/style.css" %}" />
    <link rel="stylesheet" href="{% static "website/flipcard.css" %}" />
{% endblock %}

{% block head %}
    {{ block.super }}
    {% load django_bootstrap5 %}
    {% load crispy_forms_tags %}         
    {% bootstrap_css %}
    {% bootstrap_javascript %}
{% endblock %}

{% block 'content' %}
<!--Login--> 
<div class="container py-5">
  <h1>Login</h1>
  <form method="POST">
    {% csrf_token %}
    {{ login_form|crispy }}
    <button class="btn btn-primary" type="submit">Login</button>
  </form>
  <p class="text-center">Don't have an account? <a href="/register">Create an account</a>.</p>
</div>

{% endblock %}